@import "tailwindcss";

@keyframes fadeIn {
  0% { opacity: 0; transform: translateX(-60%); }
  40% { opacity: 1; transform: translateX(0); } /* Arrives in 3s */
  45% { opacity: 1; transform: translateX(0); } /* Hold position */
  100% { opacity: 1; transform: translateX(0); } /* Wait 5s before restarting */
}

.animate-fadeIn {
  animation: fadeIn 8s ease-in-out infinite; /* 3s animation + 5s delay */
}

@keyframes fadeInReverse {
  0% { opacity: 0.3; transform: translateX(100%); }
  40% { opacity: 1; transform: translateX(0); } /* Arrives in 3s */
  45% { opacity: 1; transform: translateX(0); } /* Hold position */
  100% { opacity: 1; transform: translateX(0); } /* Wait 5s before restarting */
}

.animate-fadeInReverse {
  animation: fadeInReverse 8s ease-in-out infinite; /* 3s animation + 5s delay */
}


